services:
  app1:
    build: .
    container_name: app1
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/node_modules
    command: npm run dev
  app2:
    build: .
    container_name: app2
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/node_modules
    command: npm run dev

  app3:
    build: .
    container_name: app3
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/node_modules
    command: npm run dev


  redis:
    image: redis:alpine
    ports:
      - "6381:6379"


  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro

    depends_on:
      - app1
      - app2
      - app3